---
layout: default
---

<div class="home">
  {{ content }}
  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <!--h1>My Projects</h1-->
  {% for category in site.data.projects %}
  <h1>{{ category.category }}</h1>

  <ul>
    {% for project in category.data %}
      {% capture post_lang %}{{ project.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li>
        <h3 style="margin-bottom:5px; margin-top:10px">
          {% if project.url %}
            <a class="post-link"
              href="{{ project.url }}"
            {% if lang != empty %}
              lang="{{ lang }}"
            {% endif %}>
          {% endif %}
          {{ project.title | escape }}{% if post.external-url %} &rarr;{% endif %}{% if project.url %}</a>{% endif %}
        </h3>
      </li>

      {% if project.authors %}
        <span class="post-meta">{{ project.authors }}</span>
      {% endif %}

      {% if project.year %}
        <span class="post-meta">{{ project.year }} {{ project.venue }}</span>
      {% endif %}
      {% if project.company %}
        <span class="post-meta">{{ project.company }}</span>
      {% endif %}
      {% if project.authors or project.year or project.company %}<br>{% endif %}


      {% if project.role %}
        <span><b>Role(s):</b> {{project.role}}</span>
        <br>
      {% endif %}

      {% if project.skills %}
        <span><b>Skills:</b> {{project.skills}}</span>
        <br>
      {% endif %}

      {% if project.description %}
      <b>Description:</b> {{ project.description }}
      {% endif %}

      {% if project.paper %}
        <br>
        <span class="post-meta"><a class="post-link" href="{{ project.paper }}"><u>Paper</u></a></span>
      {% endif %}

      {% if project.poster %}
        <br>
        <span class="post-meta"><a class="post-link" href="{{ project.poster }}"><u>Poster</u></a></span>
      {% endif %}

      {% if project.source %}
        <br>
        <span class="post-meta"><a class="post-link" href="{{ project.source }}"><u>GitHub</u></a></span>
      {% endif %}

      {% if project.more_info %}
        <br>
        <span class="post-meta"><a class="post-link" href="{{ project.more_info }}"><u>More information</u></a></span>
      {% endif %}

    {% endfor %}
  </ul>
  {% endfor %}


</div>
